.markdown {
    margin: 0 auto;
    text-align: center;
    h2 {
      color: var(--color-primary);
      font-weight: 600;
      text-transform: uppercase;
    }
    .prose {
      :global(p) {
        margin: 1.5rem 0;
        padding: 0 var(--space-4);
        color: var(--color-neutral-content);
        text-align: justify;
      }
    }
    &--process {
      h2 {
        margin: var(--space-3) 0;
        color: var(--color-primary);
        font-size: var(--step-2);
        font-weight: 600;
        text-transform: none;
      }
      .prose {
        :global(h3) {
          margin: var(--space-3) 0 var(--space-1) 0;
          padding: 0 var(--space-5);
          font-size: var(--step-1);
          color: var(--color-primary);
          font-weight: 600;
        }
        :global(p) {
          margin: 0 0 var(--space-3) 0;
          padding: 0 var(--space-5);
          font-size: var(--step--1);
          color: var(--color-primary);
          text-align: justify;
        }
        :global(img) {
          display: block;
          margin: 0 auto;
        }
      }
    }

    &--fonctionnement1 {
      .prose {
        background: var(--color-secondary);

        :global(img) {
          display: block;
          margin: 0 auto;
        }
      }
    }

    &--home {
      :global(.image-gallery) {
        margin: var(--space-3) 0;
      }
    }

    &--home2 {
      .prose {
        margin-bottom: var(--space-4);        
      }
    }
  }