---
interface Question {
  question: string;
  answer: string;
  role?: string;
}

interface Props {
  title: string;
  description?: string;
  questions: Question[];
}

const { title, description, questions } = Astro.props as Props;
import Spacer from "./UI/Spacer.astro";
---

<section class="section-container questions">
  <div class="intro">
    <h2>{title}</h2>
    {description && <p>{description}</p>}
  </div>
  <div class="faq-accordion">
    {
      questions.map(({ question, answer }) => (
        <details class="faq-item">
          <summary>
            <span>{question}</span>
          </summary>
          <div class="faq-content">
            <p>{answer}</p>
          </div>
        </details>
      ))
    }
  </div>

  <Spacer size="2rem" />
</section>

<style lang="scss">
  .questions {
    .intro {
      margin: var(--space-3) auto;
      text-align: center;
    }

    h2 {
      color: var(--color-primary);
      font-weight: 600;
      text-transform: uppercase;
    }

    .faq-accordion {
      padding: 0 var(--space-4);
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: var(--space-1);

      .faq-item {
        border-bottom: 1px solid rgba(200, 33, 211, 0.2);
        color: var(--color-primary);
        padding-block: clamp(0.75rem, 2vw, 1.1rem);

        &:last-of-type {
          border-bottom-color: transparent;
        }

        summary {
          font-family: var(fontBold);
          font-size: var(--step--1);
          text-transform: uppercase;
          padding: 0;
          list-style: none;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: 700;

          &::marker,
          &::-webkit-details-marker {
            display: none;
          }
        }

        summary::after {
          content: "\203A";
          font-size: 1.5rem;
          transition: transform 0.2s ease;
          transform: rotate(90deg);
        }

        &[open] summary::after {
          transform: rotate(-90deg);
        }

        .faq-content {
          padding-top: var(--space-1);
          color: var(--color-neutral-content);
          font-weight: 300;

          p {
            margin: 0;
            font-size: var(--step--1);
            text-align: justify;
          }
        }
      }
    }
  }
</style>
