.devis {
.content {
    background: var(--color-secondary);
    color: var(--color-primary);
    padding: var(--space-3) 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo_box {
      margin-bottom: var(--space-2);
    }

    .cta {
      max-width: 700px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--color-primary);

      h2 {
        font-size: var(--step-0);
        margin: 0;
        font-weight: 400;
        text-align: center;
      }

      .bold {
        font-size: var(--step-1);
        margin: 0;
        font-weight: 800;
      }
    }
  }

  .secondary_link {
    margin-top: var(--space-2);
    padding: var(--space-1) var(--space-3);
    background: var(--color-base-100);
    font-weight: 600;
    border-radius: var(--radius-full);
    color: var(--color-primary);
    text-align: center;
    text-decoration: none;
    transition: scale 0.2s ease-in-out;

    &:hover {
      scale: 1.02;
    }
  }
}

.mail{
  .content {
    background: var(--color-primary);
    color: var(--color-secondary);
    padding: var(--space-4) 0 var(--space-3) 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cta {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h2 {
        font-size: var(--step-1);
        line-height: 1.2;
        margin-bottom: 0.5rem;
        font-weight: 700;
        text-align: center;
      }
      .bold {
        font-size: var(--step--1);
        line-height: 1.2;
      }
    }
  }

  .secondary_link {
    padding: var(--space-2) var(--space-3);
    background: var(--color-secondary);
    font-weight: 600;
    border-radius: var(--radius-full);
    color: var(--color-primary);
    text-align: center;
    text-decoration: none;
    transition: scale 0.2s ease-in-out;

    &:hover {
      scale: 1.02;
    }
  }
}

.simple{
  .content {
    background: var(--color-base-200);
    color: var(--color-neutral);
    padding: var(--space-2) var(--space-3);
    display: flex;
    flex-direction: column;
    align-items: center;

    .cta {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: var(--step--1);
      
      :global(.phone) {
        font-weight: 700;
      }
    
    }
  }
}