---
import Navbar from "@components/UI/Navbar/Navbar.astro";
import CallbackModal from "@components/Modals/CallbackModal/CallbackModal.astro";
import SiteFooter from "@components/UI/Footer/SiteFooter.astro";
import type { BaseLayoutProps } from "@app-types/layout";

const {
  title,
  description = "C'Com, specialiste de l'affichage dynamique dans vos commerces.",
} = Astro.props as BaseLayoutProps;
---

<!doctype html>
<html lang="fr" data-theme="mindleaf">
  <head>
    <base href={import.meta.env.BASE_URL} />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>

<style lang="scss" is:global>
  @use "webcoreui/styles" as *;
  @include setup(
    (
      fontRegular: "/fonts/Montserrat.ttf",
      fontBold: "/fonts/Montserrat.ttf",
      theme: "mindleaf",
    )
  );

  html,
  body {
    min-height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(fontBold), serif;
    text-align: center;
  }
</style>
